@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100;
}

.darkbody{
  @apply bg-gray-100 text-gray-800 
}
code {
  font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  @apply px-1 py-[1px] rounded text-sm bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
}
